In [12]:
import numpy as np
import pandas as pd

In [13]:
data_file = "Data/Chi_Selected_PH_indicators_by_cmty_2005_2011.csv"

In [19]:
df_ph_old = pd.read_csv(data_file)

# checking the head
df_ph_old.head()

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Childhood Lead Poisoning,Gonorrhea in Females,Gonorrhea in Males,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,0.5,322.5,423.3,11.4,22.7,7.9,28.8,18.1,23714,7.5
1,2,West Ridge,17.3,83.3,8.1,71.1,8.3,29.9,5.8,20.2,...,1.0,141.0,205.7,8.9,15.1,7.0,38.3,19.6,21375,7.9
2,3,Uptown,13.1,50.5,8.3,77.7,10.3,35.1,5.4,21.3,...,0.5,170.8,468.7,13.6,22.7,4.6,22.2,13.6,32355,7.7
3,4,Lincoln Square,17.1,61.0,8.1,80.5,9.7,38.4,5.0,21.7,...,0.4,98.8,195.5,8.5,9.5,3.1,25.6,12.5,35503,6.8
4,5,North Center,22.4,76.2,9.1,80.4,9.8,8.4,1.0,16.6,...,0.9,85.4,188.6,1.9,7.1,0.2,25.5,5.4,51615,4.5

In [20]:
df_ph_old.columns

Index(['Community Area', 'Community Area Name', 'Birth Rate',
       'General Fertility Rate', 'Low Birth Weight',
       'Prenatal Care Beginning in First Trimester', 'Preterm Births',
       'Teen Birth Rate', 'Assault (Homicide)', 'Breast cancer in females',
       'Cancer (All Sites)', 'Colorectal Cancer', 'Diabetes-related',
       'Firearm-related', 'Infant Mortality Rate', 'Lung Cancer',
       'Prostate Cancer in Males', 'Stroke (Cerebrovascular Disease)',
       'Childhood Blood Lead Level Screening', 'Childhood Lead Poisoning',
       'Gonorrhea in Females', 'Gonorrhea in Males', 'Tuberculosis',
       'Below Poverty Level', 'Crowded Housing', 'Dependency',
       'No High School Diploma', 'Per Capita Income', 'Unemployment'],
      dtype='object')

In [59]:
df_ph.dtypes

Community Area              int64
Community Area Name        object
Unemployment              float64
Dependency                float64
No High School Diploma    float64
dtype: object

In [27]:
data_file_2 = "Data/Chi_Crimes2018_All.csv"

In [64]:
df_crime_old = pd.read_csv(data_file_2)

# checking the head
df_crime_old.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
0,11556487,JC104662,12/31/2018 11:59:00 PM,112XX S SACRAMENTO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,-87.696064,"(41.689078832, -87.696064026)",33.0,"4,447",73.0,256.0,42.0,33.0,9.0,254.0
1,11561837,JC110056,12/31/2018 11:59:00 PM,013XX W 72ND ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,-87.657709,"(41.763181359, -87.657709477)",17.0,"22,257",65.0,408.0,32.0,23.0,17.0,216.0
2,11552699,JC100043,12/31/2018 11:57:00 PM,084XX S SANGAMON ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,-87.647391,"(41.740520866, -87.647390719)",18.0,"21,554",70.0,530.0,13.0,59.0,20.0,233.0
3,11552724,JC100006,12/31/2018 11:56:00 PM,018XX S ALLPORT ST,0440,BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,OTHER,True,False,...,-87.657625,"(41.857068095, -87.657625201)",8.0,"14,920",33.0,365.0,26.0,43.0,15.0,150.0
4,11552731,JC100031,12/31/2018 11:55:00 PM,078XX S SANGAMON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,-87.647717,"(41.75191443, -87.647716532)",17.0,"21,554",70.0,487.0,31.0,59.0,20.0,229.0

In [125]:
data_file_3 = "Data/Chi_Population2017.csv"

In [126]:
df_pop = pd.read_csv(data_file_3)
df_pop.head()

   Community Area Population
0               1     53,470
1               2     75,185
2               3     54,001
3               4     46,881
4               5     35,406

In [136]:
df_pop_final.head()

  Community Area Population
0              1     53,470
1              2     75,185
2              3     54,001
3              4     46,881
4              5     35,406

In [130]:
df_pop_final = df_pop.astype({"Community Area": "str"})

In [65]:
df_crime_old.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Historical Wards 2003-2015', 'Zip Codes',
       'Community Areas', 'Census Tracts', 'Wards', 'Boundaries - ZIP Codes',
       'Police Districts', 'Police Beats'],
      dtype='object')

In [66]:
df_ph = df_ph_old[["Community Area", "Community Area Name", "Unemployment", "Dependency", "No High School Diploma"]].copy()
df_crime = df_crime_old[["ID", "Primary Type","Community Area" ]]
df_crime.head()

         ID        Primary Type  Community Area
0  11556487     CRIMINAL DAMAGE            74.0
1  11561837  DECEPTIVE PRACTICE            67.0
2  11552699     CRIMINAL DAMAGE            71.0
3  11552724             BATTERY            31.0
4  11552731             BATTERY            71.0

In [68]:
variable = df_crime_clean = df_crime[df_crime["Community Area"]==0].index

In [69]:
df_crime.drop(variable, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [75]:
df_crime_sorted = df_crime.dropna(subset=["Community Area"])

In [76]:
df_crime_sorted.sort_values(by=['Community Area'])

              ID                      Primary Type  Community Area
240478  11228502                   CRIMINAL DAMAGE             1.0
239565  11229985                             THEFT             1.0
177656  11315019                             THEFT             1.0
53338   11492323                         NARCOTICS             1.0
177652  11314763                             THEFT             1.0
53383   11479181                             THEFT             1.0
239517  11230608                   CRIMINAL DAMAGE             1.0
123346  11385935                          BURGLARY             1.0
123344  11387617                          BURGLARY             1.0
123483  11386150                             THEFT             1.0
123313  11385516                           ASSAULT             1.0
123288  11385555                         NARCOTICS             1.0
123255  11385667                             THEFT             1.0
123216  11385676                             THEFT             1.0
123210  11386130                   CRIMINAL DAMAGE             1.0
123205  11385856                           BATTERY             1.0
177639  11313682                           ROBBERY             1.0
53535   11479050                     OTHER OFFENSE             1.0
53559   11513160               CRIM SEXUAL ASSAULT             1.0
53442   11479055                           BATTERY             1.0
239614  11229632                             THEFT             1.0
53168   11479493                           BATTERY             1.0
123592  11391168                DECEPTIVE PRACTICE             1.0
123933  11384658                           ROBBERY             1.0
52775   11489642                             THEFT             1.0
123916  11384697                           ROBBERY             1.0
201913  11281423                           BATTERY             1.0
201916  11281477                           ROBBERY             1.0
123893  11384785                           ROBBERY             1.0
239796  11229718        OFFENSE INVOLVING CHILDREN             1.0
...          ...                               ...             ...
64052   11465055               MOTOR VEHICLE THEFT            77.0
122022  11387160                DECEPTIVE PRACTICE            77.0
122036  11387133                          BURGLARY            77.0
233651  11237955                           ASSAULT            77.0
122165  11387035                           BATTERY            77.0
121583  11387837                   CRIMINAL DAMAGE            77.0
121539  11387732                           ASSAULT            77.0
65840   11462161                             THEFT            77.0
65838   11462274                           BATTERY            77.0
65822   11462187                           ROBBERY            77.0
65779   11465941                             THEFT            77.0
203583  11278939                           BATTERY            77.0
233114  11238814               MOTOR VEHICLE THEFT            77.0
233115  11238647                   CRIMINAL DAMAGE            77.0
203531  11278984                   CRIMINAL DAMAGE            77.0
65459   11462645                             THEFT            77.0
233249  11248674                DECEPTIVE PRACTICE            77.0
65429   11462719                           ASSAULT            77.0
9408    11538782                           BATTERY            77.0
203463  11280099                             THEFT            77.0
121112  11390089                          BURGLARY            77.0
121128  11388235                   CRIMINAL DAMAGE            77.0
64977   11464644                          BURGLARY            77.0
64932   11463850                             THEFT            77.0
264925  11197916                          BURGLARY            77.0
64930   11463614                             THEFT            77.0
121462  11387906  INTERFERENCE WITH PUBLIC OFFICER            77.0
64904   11470271                             THEFT            77.0
64756   11463837                          BURGLARY            77.0
88916   11436275                             THEFT            77.0

[267173 rows x 3 columns]

In [101]:
df_last = df_crime_sorted.astype({"Community Area": "str"})

In [102]:
df_last.dtypes

ID                 int64
Primary Type      object
Community Area    object
dtype: object

In [103]:
df_group = df_last.groupby("Community Area")

In [111]:
df_group["Community Area"].count()

Community Area
1.0      3816
10.0     1175
11.0     1098
12.0      494
13.0     1000
14.0     2422
15.0     3210
16.0     2825
17.0     1506
18.0      602
19.0     4379
2.0      3523
20.0     1400
21.0     2336
22.0     4926
23.0     8083
24.0     7312
25.0    15096
26.0     5697
27.0     4920
28.0     9426
29.0     9391
3.0      3644
30.0     4557
31.0     2389
32.0    10871
33.0     1871
34.0     1016
35.0     2718
36.0      666
        ...
52.0     1104
53.0     4060
54.0     1360
55.0      622
56.0     2092
57.0      821
58.0     2189
59.0      907
6.0      5948
60.0     1515
61.0     4244
62.0     1015
63.0     2069
64.0      962
65.0     1778
66.0     5683
67.0     7091
68.0     6222
69.0     6354
7.0      5009
70.0     2412
71.0     7398
72.0      919
73.0     3194
74.0      569
75.0     2139
76.0     1647
77.0     2776
8.0     13068
9.0       253
Name: Community Area, Length: 77, dtype: int64

In [108]:
grouped_crime = df_group["Community Area"].count()

In [142]:
df_grouped_crime = pd.DataFrame(grouped_crime)
df_grouped_crime.columns = ["Total Number of Crimes"]

In [147]:
df_grouped_crime = df_grouped_crime.reset_index()

In [148]:
df_grouped_crime.head()

  Community Area  Total Number of Crimes
0            1.0                    3816
1           10.0                    1175
2           11.0                    1098
3           12.0                     494
4           13.0                    1000

In [134]:
merged_crime_data = df_grouped_crime.merge(df_pop_final, how="left", on="Community Area")

In [135]:
merged_crime_data.head()

  Community Area  Total Number of Crimes Population
0            1.0                    3816        NaN
1           10.0                    1175        NaN
2           11.0                    1098        NaN
3           12.0                     494        NaN
4           13.0                    1000        NaN

In [149]:
clean_group = df_grouped_crime.astype({"Community Area": "int"})

ValueError: invalid literal for int() with base 10: '1.0'

In [145]:
clean_group_2 = clean_group.astype({"Community Area": "str"})

NameError: name 'clean_group' is not defined