In [29]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

In [40]:
data_file = "Data/Chi_Selected_PH_indicators_by_cmty_2005_2011.csv"

In [41]:
df_ph_old = pd.read_csv(data_file)

# checking the head
df_ph_old.head()

,Community Area,Community Area Name,Birth Rate,General Fertility Rate,Low Birth Weight,Prenatal Care Beginning in First Trimester,Preterm Births,Teen Birth Rate,Assault (Homicide),Breast cancer in females,...,Childhood Lead Poisoning,Gonorrhea in Females,Gonorrhea in Males,Tuberculosis,Below Poverty Level,Crowded Housing,Dependency,No High School Diploma,Per Capita Income,Unemployment
0,1,Rogers Park,16.4,62.0,11.0,73.0,11.2,40.8,7.7,23.3,...,0.5,322.5,423.3,11.4,22.7,7.9,28.8,18.1,23714,7.5
1,2,West Ridge,17.3,83.3,8.1,71.1,8.3,29.9,5.8,20.2,...,1.0,141.0,205.7,8.9,15.1,7.0,38.3,19.6,21375,7.9
2,3,Uptown,13.1,50.5,8.3,77.7,10.3,35.1,5.4,21.3,...,0.5,170.8,468.7,13.6,22.7,4.6,22.2,13.6,32355,7.7
3,4,Lincoln Square,17.1,61.0,8.1,80.5,9.7,38.4,5.0,21.7,...,0.4,98.8,195.5,8.5,9.5,3.1,25.6,12.5,35503,6.8
4,5,North Center,22.4,76.2,9.1,80.4,9.8,8.4,1.0,16.6,...,0.9,85.4,188.6,1.9,7.1,0.2,25.5,5.4,51615,4.5

In [42]:
df_ph_old.columns

Index(['Community Area', 'Community Area Name', 'Birth Rate',
       'General Fertility Rate', 'Low Birth Weight',
       'Prenatal Care Beginning in First Trimester', 'Preterm Births',
       'Teen Birth Rate', 'Assault (Homicide)', 'Breast cancer in females',
       'Cancer (All Sites)', 'Colorectal Cancer', 'Diabetes-related',
       'Firearm-related', 'Infant Mortality Rate', 'Lung Cancer',
       'Prostate Cancer in Males', 'Stroke (Cerebrovascular Disease)',
       'Childhood Blood Lead Level Screening', 'Childhood Lead Poisoning',
       'Gonorrhea in Females', 'Gonorrhea in Males', 'Tuberculosis',
       'Below Poverty Level', 'Crowded Housing', 'Dependency',
       'No High School Diploma', 'Per Capita Income', 'Unemployment'],
      dtype='object')

In [43]:
df_ph_old.dtypes

Community Area                                  int64
Community Area Name                            object
Birth Rate                                    float64
General Fertility Rate                        float64
Low Birth Weight                              float64
Prenatal Care Beginning in First Trimester    float64
Preterm Births                                float64
Teen Birth Rate                               float64
Assault (Homicide)                            float64
Breast cancer in females                      float64
Cancer (All Sites)                            float64
Colorectal Cancer                             float64
Diabetes-related                              float64
Firearm-related                               float64
Infant Mortality Rate                         float64
Lung Cancer                                   float64
Prostate Cancer in Males                      float64
Stroke (Cerebrovascular Disease)              float64
Childhood Blood Lead Level Screening          float64
Childhood Lead Poisoning                      float64
Gonorrhea in Females                          float64
Gonorrhea in Males                             object
Tuberculosis                                  float64
Below Poverty Level                           float64
Crowded Housing                               float64
Dependency                                    float64
No High School Diploma                        float64
Per Capita Income                               int64
Unemployment                                  float64
dtype: object

In [44]:
df_ph = df_ph_old[["Community Area", "Community Area Name", "Unemployment", "Dependency", "No High School Diploma"]].copy()

In [45]:
df_ph_1 = df_ph.dropna(subset=["Community Area"])

In [46]:
df_ph_final = df_ph_1.astype({"Community Area": "str"})

In [47]:
df_ph_final = df_ph_final.rename(columns={"Community Area": "community_area", "Community Area Name": "community_area_name", "Unemployment": "unemployment",
                           "Dependency": "dependency", "No High School Diploma": "no_high_school_diploma"})

In [49]:
df_ph_final.head()

,community_area,community_area_name,unemployment,dependency,no_high_school_diploma
0,1,Rogers Park,7.5,28.8,18.1
1,2,West Ridge,7.9,38.3,19.6
2,3,Uptown,7.7,22.2,13.6
3,4,Lincoln Square,6.8,25.6,12.5
4,5,North Center,4.5,25.5,5.4

In [9]:
data_file_2 = "Data/Chi_Crimes2018_All.csv"

In [10]:
df_crime_old = pd.read_csv(data_file_2)

# checking the head
df_crime_old.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
0,11556487,JC104662,12/31/2018 11:59:00 PM,112XX S SACRAMENTO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,-87.696064,"(41.689078832, -87.696064026)",33.0,"4,447",73.0,256.0,42.0,33.0,9.0,254.0
1,11561837,JC110056,12/31/2018 11:59:00 PM,013XX W 72ND ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,-87.657709,"(41.763181359, -87.657709477)",17.0,"22,257",65.0,408.0,32.0,23.0,17.0,216.0
2,11552699,JC100043,12/31/2018 11:57:00 PM,084XX S SANGAMON ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,-87.647391,"(41.740520866, -87.647390719)",18.0,"21,554",70.0,530.0,13.0,59.0,20.0,233.0
3,11552724,JC100006,12/31/2018 11:56:00 PM,018XX S ALLPORT ST,0440,BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,OTHER,True,False,...,-87.657625,"(41.857068095, -87.657625201)",8.0,"14,920",33.0,365.0,26.0,43.0,15.0,150.0
4,11552731,JC100031,12/31/2018 11:55:00 PM,078XX S SANGAMON ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,-87.647717,"(41.75191443, -87.647716532)",17.0,"21,554",70.0,487.0,31.0,59.0,20.0,229.0

In [11]:
df_crime_old.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Historical Wards 2003-2015', 'Zip Codes',
       'Community Areas', 'Census Tracts', 'Wards', 'Boundaries - ZIP Codes',
       'Police Districts', 'Police Beats'],
      dtype='object')

In [12]:
df_crime = df_crime_old[["ID", "Primary Type","Community Area" ]]

In [13]:
variable = df_crime[df_crime["Community Area"]==0].index

In [14]:
df_crime.drop(variable, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [15]:
df_crime = df_crime[np.isfinite(df_crime["Community Area"])]

In [16]:
df_crime.sort_values(by=['Community Area']).head()

              ID     Primary Type  Community Area
240478  11228502  CRIMINAL DAMAGE             1.0
239565  11229985            THEFT             1.0
177656  11315019            THEFT             1.0
53338   11492323        NARCOTICS             1.0
177652  11314763            THEFT             1.0

In [17]:
df_crime.dtypes

ID                  int64
Primary Type       object
Community Area    float64
dtype: object

In [18]:
df_crime = df_crime.astype({"Community Area": "float"})
df_crime = df_crime.astype({"Community Area": "int"})
df_crime = df_crime.astype({"Community Area": "str"})

In [19]:
df_crime = df_crime.astype({"Community Area": "str"})

In [20]:
df_crime.head()

         ID        Primary Type Community Area
0  11556487     CRIMINAL DAMAGE             74
1  11561837  DECEPTIVE PRACTICE             67
2  11552699     CRIMINAL DAMAGE             71
3  11552724             BATTERY             31
4  11552731             BATTERY             71

In [65]:
grouped_crime = df_crime.groupby("Community Area", as_index=False).count()[["Community Area", "Primary Type" ]]

In [72]:
grouped_crime = grouped_crime.rename(columns={"Community Area": "community_area", "Primary Type": "number_of_crimes"})

In [73]:
type(grouped_crime)

pandas.core.frame.DataFrame

In [55]:
grouped_crime_df.head()

    0                                                  1
0   1                ID                      Primary ...
1  10                ID            Primary Type Commu...
2  11                ID                Primary Type C...
3  12                ID         Primary Type Communit...
4  13                ID                Primary Type C...

In [23]:
data_file_3 = "Data/Chi_Population2017.csv"

In [24]:
df_pop = pd.read_csv(data_file_3)
df_pop.head()

   Community Area  Population
0               1       53470
1               2       75185
2               3       54001
3               4       46881
4               5       35406

In [25]:
df_pop_temp = df_pop.astype({"Community Area": "str"})

In [26]:
df_pop_final = df_pop_temp.astype({"Population": "str"})

In [27]:
df_pop_final.dtypes

Community Area    object
Population        object
dtype: object

In [30]:
rds_connection_string = "postgres:postgres@localhost:5432/chicago_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [31]:
engine.table_names()

['public_health', 'chicago_crime', 'merged_table']

In [51]:
df_ph_final.to_sql(name='public_health', con=engine, if_exists='append', index=False)

In [74]:
grouped_crime.to_sql(name='chicago_crime', con=engine, if_exists='append', index=False)